@import "addons.scss";
@import "cv_catalog.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in cv_catalog.scss */
.cv_catalog {
  @include addons;
  @include cv_catalog;
}

.mainLayout {
    border: #cedcf2 solid 1px;
    background-color: #E5E5E5;
    color:black;
}

.gombok {
 	margin-bottom: 5px;
 }

.layout_border {
    border: #cedcf2 solid 1px;
}

.fenykep_img img {
	border: #cedcf2 solid 5px;
	margin-top: 20px;
	width: 250px;
}



